<div class="jumbotron">
  <h1>Workout Lounge!</h1>
    
  <p>Show off your workout to your friends and family</p>
</div>

<div class="card" style="width: 48rem;">
  <div class="card-header">
    <h3>List of Members</h3>
  </div>
  <div class="pagination justify-content-center apple_pagination">
    <%= will_paginate @athletes %>
  </div>
  <ul class="list-group list-group-flush">
    <% @athletes.each do |athlete| %>
      <li class="list-group-item"><%= athlete.full_name %></li>
      <% if current_user %>
        <%= link_to "Follow", friendships_path(friend_id: athlete.id), method: :post, 
           class: "badge badge-success float-right" unless current_user.follows_or_same?(athlete) %>
      <% end %>
    <% end %>
  </ul>
  <div class="pagination justify-content-center apple_pagination">
    <%= will_paginate @athletes %>
  </div>
</div>
<div class="pagination justify-content-center apple_pagination">
    <%= will_paginate @athletes %>
</div>