<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <%= render 'shared/error_messages' %>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <%= render 'shared/footer' %>
  </body>
</html>
